.slidelink {
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 10000;
}

.slidelink a {
    font-size: 0.5em;
}

.twitterlink {
    font-family: sans;
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 10000;
    opacity: 0.75;
}

.twitterlink a {
    font-family: 'Source Sans Pro';
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.twitterlink i {
    color: #4AA1FF;
}
