.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal .slides img {
    border: none;
    background: none;
    box-shadow: none;
}

.reveal .slides .two-third {
    margin-right: 33%;
}

.reveal .slides section figure figcaption {
    font-size: 0.8em;
}
