/**
 * Dark theme for reveal.js. Based on the 'black' theme
 * from reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
    border: none;
    background: none;
    box-shadow: none;
}

.slidelink {
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 10000;
    opacity: 0.75;
}

.twitterlink {
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 10000;
    opacity: 0.75;
}

.twitterlink i {
    color: #4AA1FF;
}

.slidelink a,
  .twitterlink a {
    font-family: 'Source Sans Pro';
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.twitterlink a {
    font-size: 1.5em;
}

.slides figure {
    display: block;
    margin: 0 auto;
}

.slides figure.right {
    float: right;
    margin-right: 5%;
}

.slides figure.left {
    float: left;
    margin-left: 5%;
}

.slides figure img {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}

.slides figure figcaption {
    font-size: 0.5em;
    text-align: left;
    margin: 0 1ex;
    margin-top: -0.5em;
}
